.username {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.userrole {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  text-transform: capitalize;
}

.navberMain {
  width: calc(100% - 200px);
  background-color: rgba(31, 24, 47, 0.4);
  margin-left: auto;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.navberMain .nav {
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navberMain .nav .SearchBarSection {
  width: 50%;
  height: 35px;
}
.navberMain .nav .SearchBarSection .SearchFlexSection {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 450px;
  height: 100%;
  border: 1px solid var(--non-hilighted-text);
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--secondry-bg-color);
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchInput {
  width: 85%;
  height: 100%;
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchInput input {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  padding: 0 10px;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border: 0;
  outline: 0;
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchInput input:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchButton {
  width: 15%;
  height: 100%;
  cursor: pointer;
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchButton button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
.navberMain .nav .SearchBarSection .SearchFlexSection .SearchButton button svg {
  cursor: pointer;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 50px;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .Notification_Bell button {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--main-white-color);
  font-size: 28px;
  position: relative;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .Notification_Bell button .notification_Icon {
  position: absolute;
  top: 0;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background-color: #ff0000;
  border-radius: 50%;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url(../../images/Arrow\ -\ Down\ 6.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile .image {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile .image .DefaultProfile {
  width: 100%;
  height: 100%;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile .image .DefaultProfile .pera {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile .image .DefaultProfile .pera p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.navberMain .nav .NavbarProfileSection_OUTER_Main_Sec .NavbarProfileSection .profile .UserName .flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3px;
}

.sidebarMainSec {
  width: 100%;
  max-width: 200px;
  background-color: var(--sidebar-bg-color);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 20px 16px 20px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebarMainSec .SidebarInner {
  width: 100%;
  height: 100%;
}
.sidebarMainSec .SidebarInner .FlexSectionMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LogoSection {
  width: 100%;
  height: 100%;
  text-align: center;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LogoSection img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  margin: auto;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection {
  width: 100%;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection .ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection .ul li {
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection .ul li:active {
  scale: 0.98;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection .ul li a {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}
.sidebarMainSec .SidebarInner .FlexSectionMain .LinkSection .ul li a span {
  padding-right: 10px;
  font-size: 16px;
}

.TwoStepVerificationSection {
  transition: 1s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 100%;
  max-width: 450px;
  max-height: 140px;
  background-color: var(--popup-bg-color);
  border: 1px solid var(--main-white-color);
  z-index: 1111;
}
.TwoStepVerificationSection .InnerSec {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.TwoStepVerificationSection .InnerSec .TextSec p {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}
.TwoStepVerificationSection .InnerSec .buttonGroups {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}
.TwoStepVerificationSection .InnerSec .buttonGroups button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--main-white-color);
  padding: 5px 20px;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.TwoStepVerificationSection .InnerSec .buttonGroups button:hover {
  background-color: var(--main-white-color);
  color: black;
}

.ProjectsSkullMainDiv {
  width: 100%;
  height: 100%;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--main-white-color);
  gap: 25px;
  margin: auto;
  max-width: 305px;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .HeaderImage {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondry-bg-color);
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .HeaderImage svg {
  width: 60px;
  height: 60px;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .ContextText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .ContextText h3 {
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .ContextText p {
  text-transform: capitalize;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.ProjectsSkullMainDiv .ProjectsInnerDiv .ContextText button {
  width: 100%;
  height: 48px;
  font-size: 16px;
}

.ProjectsSkullCardOuterMainSection {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 18px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectsSkullImageSection {
  width: 100%;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectsSkullImageSection img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1;
  min-width: 250px;
  max-height: 250px;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectsSkullImageSection span {
  width: 100%;
  height: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1;
  min-width: 250px;
  max-height: 250px;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectContentTextSection {
  width: 100%;
  padding: 0 10px;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectContentTextSection .FlexSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  color: var(--main-white-color);
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectContentTextSection .FlexSection h2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-break: anywhere;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .ProjectContentTextSection .FlexSection p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--non-hilighted-text);
  line-break: anywhere;
  text-transform: capitalize;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProjectsSkullCardOuterMainSection .ProjectContentSkullInnerSection .CardStatusIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--non-hilighted-text);
  line-break: anywhere;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid var(--non-hilighted-text);
  background-color: rgba(0, 0, 0, 0.9);
}/*# sourceMappingURL=style.module.css.map */