@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  transition: 0.1s all;
  &:active {
    scale: 0.97;
  }
}

:root {
  --main-white-color: #f5f3f4;
  --main-black-color: #0c0a0a;
  --main-bg-color: #1f1830;
  --sidebar-bg-color: #1a142a;
  --button-main-color: rgba(244, 24, 132, 1);
  --secondry-bg-color: #2c2341;
  --non-hilighted-text: rgb(255, 255, 255, 0.6);
}
body {
  background-color: var(--main-bg-color) !important;
  font-family: "Inter", sans-serif;

  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}
.active {
  background-color: var(--button-main-color) !important;
  width: 100% !important;
  border-radius: 0 20px 20px 0;
}
.login-sign-up-page {
  background-color: var(--main-bg-color) !important;
  width: 100%;
  height: 100vh;
}
.container-main-sec {
  width: calc(100% - 200px);
  margin-left: auto;
  height: 100vh;
  background-color: var(--main-bg-color);
  padding: 65px 0 0 0;
  overflow-y: auto;
}
.active-li-btn {
  button {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-color: var(--button-main-color);
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      border-radius: 10px;
    }
  }
}
.h100 {
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
}
.button-main-class {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--main-white-color);
  background-color: var(--button-main-color);
  border: 0;
  outline: 0;
  padding: 4px 32px;
  border-radius: 24px;
}
.row {
  padding-top: 40px;
  .col-md-6 {
    padding: 15px 7.5px;
  }
}
.Main-header-web {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--main-white-color);
}
.transperent-btn {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: transparent;
  padding: 4px 32px;
}
.filled-btn {
  border-radius: 24px;
  background-color: var(--button-main-color);
  border: 0;
  outline: 0;
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 32px;
  text-transform: capitalize;
  transition: 0.1s all;
  &:disabled {
    cursor: not-allowed;
    scale: 1 !important;
    opacity:0.8 ;
  }
}
.hiddenModal {
  scale: 0;
}
.visibalModal {
  scale: 1;
}
.notVisibles {
  scale: 0;
}
.height-48 {
  height: 48px;
}
