.mainProjectsSection {
  width: 100%;
  height: 100%;
  padding: 24px 24px 0 24px;
}
.mainProjectsSection .InnerSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mainProjectsSection .InnerSection .HeaderSection {
  height: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.mainProjectsSection .InnerSection .HeaderSection .text {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainProjectsSection .InnerSection .HeaderSection .text h2 {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}
.mainProjectsSection .InnerSection .HeaderSection .text button {
  height: 40px;
}
.mainProjectsSection .InnerSection .HeaderSection .NavigationSec {
  height: 50%;
}
.mainProjectsSection .InnerSection .HeaderSection .NavigationSec ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.mainProjectsSection .InnerSection .HeaderSection .NavigationSec ul li {
  list-style: none;
  text-decoration: none;
  height: 100%;
}
.mainProjectsSection .InnerSection .HeaderSection .NavigationSec ul li button {
  background-color: transparent;
  color: var(--main-white-color);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  padding: 10px 10px;
  height: 100%;
}
.mainProjectsSection .InnerSection .ProjectsAddingMainSec {
  width: 100%;
  height: 80%;
}

.loginSignUpPageSection {
  position: relative;
  width: 100%;
  height: 100%;
}
.loginSignUpPageSection .backgroundImage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.loginSignUpPageSection .backgroundImage img {
  -o-object-fit: cover;
     object-fit: cover;
}
.loginSignUpPageSection .LoginCardPageMainSection {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage {
  width: 100%;
  max-width: 480px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: 100%;
  margin: 50px auto;
  border-radius: 28px;
  border: 1.5px solid rgba(255, 255, 255, 0);
  background: linear-gradient(135deg, rgba(26, 19, 43, 0.8) 1.56%, rgba(26, 19, 43, 0.4) 98.91%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 30px 40px;
  overflow-x: hidden;
  overflow-y: auto;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage::-webkit-scrollbar-thumb, .loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage::-webkit-scrollbar, .loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage::-webkit-scrollbar-track {
  width: 0;
  height: 0;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .logoImg {
  width: 100%;
  text-align: center;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .logoImg img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  margin: auto;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .VerificationText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  flex-direction: column;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .VerificationText h3 {
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--main-white-color);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .VerificationText p {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--non-hilighted-text);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input label,
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .navigatorBtn {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-white-color);
  text-transform: capitalize;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .navigatorBtn {
  font-size: 13px;
  text-align: end;
  padding-top: 10px;
  padding-right: 5px;
  cursor: pointer;
  text-align: end;
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .navigatorBtn:hover {
  color: var(--button-main-color);
  text-decoration: underline;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSec input {
  color: var(--non-hilighted-text);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(44, 35, 65, 0.8);
  width: 100%;
  padding: 10px 14px;
  height: 48px;
  width: 100%;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSec input:focus {
  border: 0;
  outline: 1px solid var(--button-main-color);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSec button {
  position: absolute;
  background-color: transparent;
  color: var(--main-white-color);
  outline: 0;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification input {
  color: var(--main-white-color);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(44, 35, 65, 0.8);
  width: 100%;
  max-width: 60px;
  padding: 10px 14px;
  height: 60px;
  width: 100%;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification input:focus {
  border: 0;
  outline: 1px solid var(--button-main-color);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification input::-moz-placeholder {
  color: var(--non-hilighted-text);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification input::placeholder {
  color: var(--non-hilighted-text);
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Input .InputFlexSecVerification button {
  position: absolute;
  background-color: transparent;
  color: var(--main-white-color);
  outline: 0;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons {
  width: 100%;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .BackPageButton {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .BackPageButton button {
  padding: 0;
  margin: 0;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .BackPageButton .navigatorBtn:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .navigatorBtn {
  padding-top: 12px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-white-color);
  text-align: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .navigatorBtn:active {
  scale: 0.95 !important;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .navigatorBtn span {
  color: var(--button-main-color);
  text-transform: capitalize;
  cursor: pointer;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons .navigatorBtn span:hover {
  text-decoration: underline;
}
.loginSignUpPageSection .LoginCardPageMainSection .LoginCardPage .LoginCardInnerSection .Buttons button {
  width: 100%;
  height: 45px;
}
.loginSignUpPageSection .LoginCardPageMainSection .SignUpPage {
  max-width: 500px;
  max-height: 640px;
}
.loginSignUpPageSection .LoginCardPageMainSection .SignUpPage .LoginCardInnerSection {
  height: 100%;
  justify-content: space-between;
  gap: 20px !important;
}
.loginSignUpPageSection .LoginCardPageMainSection .SignUpPage .LoginCardInnerSection .Input {
  gap: 20px !important;
}
.loginSignUpPageSection .LoginCardPageMainSection .SignUpPage .LoginCardInnerSection .Input p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-white-color);
  text-transform: capitalize;
}

.InformationModalSection {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 80px;
  background-color: aliceblue;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.InformationModalSection .InformationModalInnerSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.InformationModalSection .InformationModalInnerSection .paragraph {
  height: 90%;
  width: 100%;
  padding: 0 12px;
}
.InformationModalSection .InformationModalInnerSection .paragraph p {
  text-align: start;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #0e0e0e;
  text-transform: capitalize;
}
.InformationModalSection .InformationModalInnerSection .progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: var(--button-main-color);
  padding: 1px;
  animation: Line 3s ease-in 1;
}
@keyframes Line {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}/*# sourceMappingURL=style.module.css.map */